# Virtual Environments
.venv
.vscode
.ymka/

# Build Artifacts
/build/
/dist/
/nimcache/
/*.egg-info/
lib/python/yumly/yumly_core.so
.nimble
.cache
nimble.develop
nimble.paths
__pycache__
libyumly.so
*.ylwa

# Personal
waifus
tasks.yumly
examples/.env

#binaries
libyumly
waifuu
test_write
/Yumly
yumly_cli
/yumly-cli
cafe

# playground binaries
test_tokenizer
test_parser
test_encoder

# test binaries
create_new_test
tests/unit/**/test

# tests
tests/fixtures/stress/**/*.yumly
!tests/fixtures/stress/**/metadata.yumly
tests/fixtures/stress/sLI0002-deep-include-nesting/depth/
tests/fixtures/invalid/xP0002-recursion-limit/case1.yumly
