# Virtual Environments
.venv
.vscode

# Build Artifacts
build
nimcache
yumly.egg-info
lib/python/yumly/yumly_core.so
.nimble
.cache
nimble.develop
nimble.paths
__pycache__
libyumly.so

# Personal
waifus
tasks.yumly

#binaries
waifuu
test_write
/Yumly
change_version
yumly_cli
cafe
markers_finder

# test binaries
test_tokenizer
test_validate
test_values
test_builders
test_pipeline
test_parser
test_evaluator
test_resolver
test_encoder
test_nim_api
test_full_flow